@charset "UTF-8";

.l-box {
    flex: 0 1 $base-content-width;
    max-width: $base-content-width;
    margin: 0 auto;
    padding: 0 $space-unit;
}
.l-box2 {
    flex: 0 1 $base-content-width;
    max-width: $base-content-width;
    margin: 0 auto;
    padding: 0;
}
.HeadSpace {
    margin-top: $space-unit;
}