@charset "UTF-8";

//色指定
$color-back: #fbf7f3;
$color-main-text: #474747;
$color-link: #878378;

$color-reverse-text: #fff;
$color-reverse-back: #818181;
$color-reverse-hover: #5B5B5B;

//サイズ指定
$base-content-width: 1200px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;