@charset "UTF-8";

//色指定
$color-back: #fff;
$color-main-text: #474747;
$color-link: #878378;
$color-white: #fff;

$color-reverse-text: #2D2D2D;
$color-reverse-back: #fff;
$color-reverse-hover: #E5E5E5;
$color-green: #6BAF3F;
$color-green-deep: #5FA035;
$color-green-pale: #BAC660;
$color-green-light: #BBEA9D;
$color-orange: #FFB140;
$color-orange-pale: #E2C89F;
$color-grey-deep: #303030;

//サイズ指定
$base-content-width: 1200px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;